<div id="ft">

  <div id="ft_wr" class="clear">
    <div class="ft_logo"><div class="img_box"><img src="image/ft_logo.jpg" alt=""></div></div>
    <div class="ft_info">
      <span class="bold left_none">㈜다나식품</span><br class="mo">
      <span>주소 : 1공장) 경남 사천시 중촌2길 11(송포동),<br class="mo"> 2공장) 경남 사천시 중촌2길 21(송포동)</span> <br>
      <span class="left_none">사업자등록번호 : 613-81-32011</span><br class="mo"><span class="bar pc">|</span>
      <span>대표전화 : 055)835-1988, 055)835-1990</span><br class="mo"><span class="bar pc">|</span>
      <span>팩스 : 055)835-1987</span><br class="mo"><span class="bar pc">|</span>
      <span>E-mail :  danaf@naver.com</span><br class="mo">
      <p class="copy">COPYRIGHT (C) <span>DANAFOOD. co.,LTD.</span> ALL RIGHT RESEVED.</p>
    </div>
    <button type="button" id="top_btn">
      <i class="fa fa-arrow-up" aria-hidden="true"></i><span class="sound_only">상단으로</span>
    </button>
      <script src="/js/app/index.js"></script>
<!--      <script>
/*      $(function() {
      $("#top_btn").on("click", function() {
      $("html, body").animate({scrollTop:0}, '500');
      return false;
      });
      });*/
      </script>-->
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <!--index.js 추가-->
  </div>
  <div class="ft_hidden">
    <p><a href="https://xn--hu5b4brvf8c73w61d.kr/" target="_blank">Designed by shcho</a></p>
  </div>
</div>
  <!-- } 하단 끝 -->