<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=10,user-scalable=yes">
    <meta name="HandheldFriendly" content="true">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="imagetoolbar" content="no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="stylesheet" href="/css/default9e0f.css?ver=191202">
    <link rel="stylesheet" href="/js/font-awesome/css/font-awesome.min9e0f.css?ver=191202">
    <link rel="stylesheet" href="/skin/latest/basic/style9e0f.css?ver=191202">
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/slick-theme.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->


    <script>
        // 자바스크립트에서 사용하는 전역변수 선언
        var g5_url       = "index.html";
        var g5_bbs_url   = "bbs/index.html";
        var g5_is_member = "";
        var g5_is_admin  = "";
        var g5_is_mobile = "";
        var g5_bo_table  = "";
        var g5_sca       = "";
        var g5_editor    = "";
        var g5_cookie_domain = "";
    </script>
    <script src="/js/jquery-1.12.4.min9e0f.js?ver=191202"></script>
    <script src="/js/jquery-migrate-1.4.1.min9e0f.js?ver=191202"></script>
    <script src="/js/jquery.menu9e0f.js?ver=191202"></script>
    <script src="/js/common9e0f.js?ver=191202"></script>
    <script src="/js/wrest9e0f.js?ver=191202"></script>
    <script src="/js/placeholders.min9e0f.js?ver=191202"></script>
    <script src="/js/slick9e0f.js?ver=191202"></script>
    <script src="/js/custom9e0f.js?ver=191202"></script>
</head>

<div id="hd">
    <header class="header clear">
        <div class="logo">
            <h1><a href="/main"><img src="image/logo.jpg" alt="로고"></a></h1>
        </div>
        <div class="empty"></div>
        <div class="nav">
            <nav>
                <ul class="gnb">
                    <li><a href="/introCompany">회사소개</a></li>
                    <li><a href="/productList">제품소개</a></li>
                    <li><a href="/dryDiv">건어물사업부</a></li>
                    <li><a href="/iceDiv">냉동사업부</a></li>
                    <li><a href="/contactUs">CONTACT US</a></li>
                    <li><a href="/notice">공지사항</a></li>
                </ul>
            </nav>
        </div>
        <div class="menu">
            <span class="line_a"></span>
            <span class="line_b"></span>
            <span class="line_c"></span>
        </div>
    </header>
</div>
