<head>
    <title>CONTACT US</title>
</head>
<body>
<!-- 상단 시작  -->
{{>layout/header}}
<!-- 상단 끝  -->
<hr>
<!-- 콘텐츠 시작  -->
<div class="sb_title">
    <div class="tit sub5">
        <div class="p_box">
            <p class="big">CONTACT US</p>
            <p class="sm">남해안 청정해 수산물의 名家 <br class="mo">소비자의 행복과 건강을 먼저 생각하는 기업</p>
        </div>
    </div>
</div>

<div class="main sb sb5-1">
    <!-- <div class="container">-->
    <div class="sb5rap clear">
        <div class="sub5_1">
            <div class="add_box clear">
                <div class="img_box"><img src="../image/sub5_add.jpg" alt=""></div>
                <div class="add">
                    <ul>
                        <li>본사 : <span> 경남 사천시 송포동 1038-4번지 (경남 사천시 중촌2길 11번지)</span></li>
                        <li>HACCP인증 제 2공장 : <span> 경남 사천시 송포동 1034번지</span></li>
                        <li>TEL : <span> 055-835-1988, 055-835-1990</span></li>
                        <li>FAX : <span> 055-835-1978, 055-835-1991</span></li>
                        <li>E-MAIL : <span> danaf@naver.com</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="sub5_2">
            <div class="map1">
                <p class="map_name">본사</p>
                <div id="daumRoughmapContainer1615467580425" class="root_daum_roughmap root_daum_roughmap_landing"></div>
                <script charset="UTF-8" class="daum_roughmap_loader_script" src="../../ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>
                <script charset="UTF-8">
                    new daum.roughmap.Lander({
                        "timestamp": "1615467580425",
                        "key": "24smp",
                        "mapWidth": "640",
                        "mapHeight": "360"
                    }).render();

                </script>
            </div>
            <div class="map2">
                <p class="map_name">제 2공장</p>
                <div id="daumRoughmapContainer1615467612955" class="root_daum_roughmap root_daum_roughmap_landing"></div>
                <script charset="UTF-8" class="daum_roughmap_loader_script" src="../../ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>
                <script charset="UTF-8">
                    new daum.roughmap.Lander({
                        "timestamp": "1615467612955",
                        "key": "24smq",
                        "mapWidth": "640",
                        "mapHeight": "360"
                    }).render();

                </script>
            </div>
        </div>
    </div>
</div>
<!--  콘텐츠 끝 -->
<hr>
<!-- 하단 시작 -->
{{>layout/footer}}
<!-- 하단 끝 -->
</body>

