<head>
    <title>건어물</title>
</head>
<body>
<!-- 상단 시작 { -->
{{>layout/header}}
<!-- } 상단 끝 -->
<hr>

<!-- 콘텐츠 시작 { -->
<div class="sb_title">
    <div class="tit sub2">
        <div class="p_box">
            <p class="big">건어물사업부</p>
            <p class="sm">남해안 청정해 수산물의 名家 <br class="mo">소비자의 행복과 건강을 먼저 생각하는 기업</p>
        </div>
    </div>
</div>

<div class="main sb sb2-1">
    <!-- <div class="container">-->
    <div class="sb2wrap clear">
        <div class="sub2_1">
            <p class="head_txt">건어사업부 Prepared (Processed) food Facility</p>
            <p class="info_txt">30년 전통의 제조, 제품관리, 냉동보관 빠른 처리과정과 건어냉풍건조로 신선한 원료에서 <br>
                나오는 뛰어난 맛으로 완품 출하 및 신제품 개발</p>
            <p class="sub_info_txt">Freshest raw seafood ingredients throughout final production production process. <br>
                We promise excellent products with finest taste based on over 30 years of experience</p>
            <div class="sub2_info_img_box clear">
                <div><img src="../image/sub2_img1.jpg" alt=""></div>
                <div><img src="../image/sub2_img2.jpg" alt=""></div>
                <div><img src="../image/sub2_img3.jpg" alt=""></div>
                <div><img src="../image/sub2_img4.jpg" alt=""></div>
                <div><img src="../image/sub2_img5.jpg" alt=""></div>
                <div><img src="../image/sub2_img6.jpg" alt=""></div>
                <div><img src="../image/sub2_img7.jpg" alt=""></div>
                <div><img src="../image/sub2_img8.jpg" alt=""></div>
            </div>
            <div class="sub2_1_product">
                <p><span>Main products : </span>Squid (Calaman) , Octopus , Pollack (Processed raw seafood, Dried and semidried seafood with or without marination)</p>
            </div>
            <div class="sub2_1_box_txt">
                <p>다양한 제품군을 생산하고 있으며, 모든 제품은 소포장, 박스포장, 벌크포장 등의 형태로 생산 가능합니다.</p>
            </div>
        </div>
        <div class="sub2_2">
            <p class="head_txt">주요납품처 Our Clients </p>
            <div class="sub2_circle clear">
                <div><img src="../image/sub2_circle1.jpg" alt=""></div>
                <div><img src="../image/sub2_circle2.jpg" alt=""></div>
                <div><img src="../image/sub2_circle3.jpg" alt=""></div>
                <div><img src="../image/sub2_circle4.jpg" alt=""></div>
                <div><img src="../image/sub2_circle5.jpg" alt=""></div>
                <div><img src="../image/sub2_circle6.jpg" alt=""></div>
                <div><img src="../image/sub2_circle7.jpg" alt=""></div>
                <div><img src="../image/sub2_circle8.jpg" alt=""></div>
                <div><img src="../image/sub2_circle9.jpg" alt=""></div>
                <div><img src="../image/sub2_circle10.jpg" alt=""></div>
                <div><img src="../image/sub2_circle11.jpg" alt=""></div>
                <div><img src="../image/sub2_circle12.jpg" alt=""></div>
                <div><img src="../image/sub2_circle13.jpg" alt=""></div>
            </div>
            <div class="sub2_2_txt_box">
                <p><span>㈜다나식품</span>은 고객이 원하는 최고의 품질을 편리하게 접근하실수 있도록 고객 가까이에 있습니다. <br>
                    믿을 수 있는 제품이기에 여러 관공서, 회사, 백화점 등 많은 곳에서 찾아주시고 계십니다. <br>
                    최근 오프라인뿐 아니라 온라인(쿠팡,위메프,옥션,지마켓 등 ) 등에서도 고객님께 최고의 서비스를 제공 하기 위해서 노력하고 있습니다.</p>
            </div>
            <div class="sub2_2_eng_txt_box">
                <p>Restaurants, Refectories, Hospitals, Cafeterias, Goverment’s supply dertment, Millitary, Buffet restaurants, Supermarkets, Convenience stores, Online shooping malls, and local retailers </p>
            </div>
        </div>
        <div class="sub2_3">
            <p class="head_txt">HACCP 인증 식품사업부 </p>
            <div class="img_box"><img src="../image/sub2_mark.jpg" alt=""></div>
            <p class="sub2_3_txt1">2012년 12월 제 2 식자재 전문 가공 유통 공장을 준공하여 <span>2013년 1월 31일 HACCP 마크를 인증 받았습니다.</span></p>
            <div class="sub2_3_img clear">
                <div><img src="../image/sub2_photo1.jpg" alt=""></div>
                <div><img src="../image/sub2_photo2.jpg" alt=""></div>
                <div><img src="../image/sub2_photo3.jpg" alt=""></div>
            </div>
            <p class="sub2_3_txt2">현재 HACCP 인증 식품사업부에서는 ㈜다나식품의 특허제품(특허 제 0408780 호 - 출원 번호 제 2001-0039161 호)전통 한방 명태찜을 생산하고 있습니다. </p>
        </div>
    </div>
</div>
<!-- } 콘텐츠 끝 -->
<hr>
<!-- 하단 시작 { -->
{{>layout/footer}}
<!-- 하단 끝 -->
</body>

