<head>
    <title>냉동</title>
</head>
<body>
<!-- 상단 시작 { -->
{{>layout/header}}
<!-- } 상단 끝 -->
<hr>

<!-- 콘텐츠 시작 { -->
<div class="sb_title">
    <div class="tit sub4">
        <div class="p_box">
            <p class="big">냉동사업부</p>
            <p class="sm">남해안 청정해 수산물의 名家 <br class="mo">소비자의 행복과 건강을 먼저 생각하는 기업</p>
        </div>
    </div>
</div>

<div class="main sb sb4-1">
    <!-- <div class="container">-->
    <div class="sb4wrap clear">
        <div class="sub4_1">
            <div class="img_box"><img src="../image/sub4_img1.jpg" alt=""></div>
            <div class="txt_box">
                <p>* A Member of korean Refrageration Association *</p>
            </div>
        </div>
        <div class="sub4_2">
            <div class="sub4_2_img_box clear">
                <div><img src="../image/sub4_img2.jpg" alt="">
                    <p>회사전경</p>
                </div>
                <div><img src="../image/sub4_img3.jpg" alt="">
                    <p>기계실</p>
                </div>
                <div><img src="../image/sub4_img4.jpg" alt="">
                    <p>보관창고내부</p>
                </div>
                <div><img src="../image/sub4_img5.jpg" alt="">
                    <p>동결냉동시설</p>
                </div>
            </div>
            <div class="txt_box">
                <p><span>㈜다나식품</span>은 냉동냉장 수산업협동조합(수협)의 조합원으로 등록되어 있습니다. <br>
                    수산물 급속동결, 냉동냉장보관, 농축산물 냉동냉장 업무를 취급하고 있습니다. <br>
            </div>
        </div>
    </div>
</div>
<!-- } 콘텐츠 끝 -->
<hr>
<!-- 하단 시작 -->
{{>layout/footer}}
<!-- 하단 끝 -->
</body>

