<head>
    <title>회사소개</title>
</head>
<body>
<!-- 상단 시작 -->
{{>layout/header}}
<!-- 상단 끝 -->
<hr>
<!-- 콘텐츠 시작  -->
<div class="sb_title">
    <div class="tit sub1">
        <div class="p_box">
            <p class="big">회사소개</p>
            <p class="sm">남해안 청정해 수산물의 名家 <br class="mo">소비자의 행복과 건강을 먼저 생각하는 기업</p>
        </div>
    </div>
</div>

<div class="main sb sb1-1">
    <!-- <div class="container">-->
    <div class="sb1wrap clear">
        <div class="sub1_1">
            <div class="sub1_1_wrap clear">
                <div class="img_box"><img src="../image/sub1_img.jpg" alt=""></div>
                <div class="txt_box">
                    <p class="txt1">인사말 CEO’s MESSAGE</p>
                    <p class="txt2">정직하고 한결같은 식품생산의 자신감으로 걸어온 지난 40년 <br class="pc"> 더욱더 신뢰받고 사랑받는 기업이 되겠습니다.</p>
                    <p class="txt3">㈜다나식품은 창립이래 좋은 품질의 제품생산을 위하여 일괄된 자세로 오늘에 이르렀습니다. <br class="pc">
                        항상 신선하고 위생적인 원료공급은 물론 변화하는 시대와 고객의 욕구에 부흥하기 위하여 끊임없는 연구와 <br class="pc">
                        소비자의 다양한 입맛에 맞는 제품 개발에 최선을 다하고 있습니다. <br class="pc">
                        특히 본사 주력상품인 오징어 관련 제품은 국내 선도적 위치에 있다고 자신합니다. <br class="pc">
                        ㈜다나식품은 국내 식품 생산 업체 중 몇 안되는 대형 급속 동결 시설 및 냉동냉장 저장시설 <br class="pc">
                        보류업체로서 신선한 원료 공급 시점부터 제품 생산, 유통까지 철저한 품질경영에 앞서고 있습니다. <br class="pc">
                        아울러 HACCP 인증 제2 공장 준공을 완료하였으며 앞으로도 소비자의 기대에 부응하는 제품개발은 물론 <br class="pc">
                        지난 30여 년간 축적된 경험과 신용을 바탕으로 수산식품의 효용 극대화와 남녀노소 누구나 <br class="pc">
                        부담없이 즐길 수 있는 제품 개발과 투자를 아끼지 않을 것입니다. <br class="pc">
                        신뢰받고 사랑받는 수산업 선도 기업이 되겠습니다. 감사합니다</p>
                    <div class="name">
                        <p>대표 안 서 현</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sub1_3">
            <div class="sub1_3_wrap">
                <p class="history">회사연혁</p>
                <div class="year1 clear">
                    <p>2000~2013</p>
                    <ul>
                        <li><span>2013</span> <span>1.31</span> <span>식자재 생산공장 HACCP 인증</span></li>
                        <li><span>2011</span> <span>8.11</span> <span>㈜다나식품 제 2공장 준공</span></li>
                        <li><span>2008</span> <span>5.1</span> <span>냉동 냉장 보관 사업 영역 확대</span></li>
                        <li><span>2003</span> <span>5.20</span> <span>㈜다나 식품 법인 설립</span></li>
                        <li><span>2000</span> <span class="hidden">5.1</span> <span>미양식품 식자재 생산 공장 준공</span></li>
                    </ul>
                </div>
                <div class="year2 clear">
                    <p>1982~1989</p>
                    <ul>
                        <li><span>1989</span> <span class="hidden">5.1</span> <span>천일물산 사명개명</span></li>
                        <li><span>1982</span> <span class="hidden">5.1</span> <span>천일상회 설립 건어물 및 수산물 컨테이너 생산</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  콘텐츠 끝 -->
<hr>
<!-- 하단 시작  -->
{{>layout/footer}}
<!-- 하단 끝 -->
</body>

