<head>
    <title>다나식품</title>
</head>
<body>
<!-- 상단 시작 { -->
{{>layout/header}}
<!-- } 상단 끝 -->
<hr>
<!-- 콘텐츠 시작 { -->
<div class="main_banner pc">
    <div class="banner1"></div>
   <!-- <div class="banner2"></div>
    <div class="banner3"></div>-->
</div>
<div class="main_banner mo">
    <div class="banner1"></div>
   <!-- <div class="banner2"></div>
    <div class="banner3"></div>-->
</div>
<div class="index_info">
    <div class="index_info_wrap">
        <div class="txt_box">
            <p class="head_txt">DANAFOOD PRODUCT</p>
            <p class="body_txt">다나식품 제품소개</p>
        </div>
        <div class="item_box clear">
            <div class="pc"><link rel="stylesheet" href="skin/latest/gallery/style.css">
                <div class='x-gallery-outer'>
                    <ul class="x-gallery clear">

                        <li>
                            <div class='photo'><div class="space"><a href="http://danafood.com/bbs/board.php?bo_table=sub3&amp;wr_id=19"><img class="img_left" src="data/file/sub3/thumb-1982322429_jxtAvRky_daab03ed65b929a9441718c839e1574926e41986_228x228.jpg"></a></div></div>
                            <div class='text'>
                                <div class='title'><a href="http://danafood.com/bbs/board.php?bo_table=sub3&amp;wr_id=19">사우나오징어</a></div>
                                <div class='sub_title'><a href="http://danafood.com/bbs/board.php?bo_table=sub3&amp;wr_id=19">소포장/벌크</a></div>
                            </div>
                        </li>

                        <li>
                            <div class='photo'><div class="space"><a href="http://danafood.com/bbs/board.php?bo_table=sub3&amp;wr_id=18"><img class="img_left" src="data/file/sub3/thumb-1982322429_bamUVsWN_9c4a5642fe142962c8c74facc65f7b780a2b91d6_228x228.jpg"></a></div></div>
                            <div class='text'>
                                <div class='title'><a href="http://danafood.com/bbs/board.php?bo_table=sub3&amp;wr_id=18">통통포,통통포 스틱</a></div>
                                <div class='sub_title'><a href="http://danafood.com/bbs/board.php?bo_table=sub3&amp;wr_id=18">소포장/벌크</a></div>
                            </div>
                        </li>

                        <li>
                            <div class='photo'><div class="space"><a href="http://danafood.com/bbs/board.php?bo_table=sub3&amp;wr_id=17"><img class="img_left" src="data/file/sub3/thumb-1982322429_owXmELNP_ab7949a2584c1c71860811910c1f7e13d84f09cf_228x228.jpg"></a></div></div>
                            <div class='text'>
                                <div class='title'><a href="http://danafood.com/bbs/board.php?bo_table=sub3&amp;wr_id=17">생생다리구이</a></div>
                                <div class='sub_title'><a href="http://danafood.com/bbs/board.php?bo_table=sub3&amp;wr_id=17">소포장/벌크</a></div>
                            </div>
                        </li>

                        <li>
                            <div class='photo'><div class="space"><a href="http://danafood.com/bbs/board.php?bo_table=sub3&amp;wr_id=16"><img class="img_left" src="data/file/sub3/thumb-1982322429_zVOYJjG8_29726540ecff227af267cbe6d04911bac5787ba9_228x228.jpg"></a></div></div>
                            <div class='text'>
                                <div class='title'><a href="http://danafood.com/bbs/board.php?bo_table=sub3&amp;wr_id=16">맛오징어,맛오징어 스틱</a></div>
                                <div class='sub_title'><a href="http://danafood.com/bbs/board.php?bo_table=sub3&amp;wr_id=16">소포장/벌크</a></div>
                            </div>
                        </li>

                        <li>
                            <div class='photo'><div class="space"><a href="http://danafood.com/bbs/board.php?bo_table=sub3&amp;wr_id=12"><img class="img_left" src="data/file/sub3/thumb-1982322429_NQfnrumH_de09367ae4113b15bf059ee1eb10dd65f18033bf_228x228.jpg"></a></div></div>
                            <div class='text'>
                                <div class='title'><a href="http://danafood.com/bbs/board.php?bo_table=sub3&amp;wr_id=12">촉촉오징어</a></div>
                                <div class='sub_title'><a href="http://danafood.com/bbs/board.php?bo_table=sub3&amp;wr_id=12">소포장/벌크</a></div>
                            </div>
                        </li>
                    </ul>
                </div></div>
            <div class="mo"><link rel="stylesheet" href="skin/latest/gallery/style.css">
                <div class='x-gallery-outer'>
                    <ul class="x-gallery clear">

                        <li>
                            <div class='photo'><div class="space"><a href="http://danafood.com/bbs/board.php?bo_table=sub3&amp;wr_id=19"><img class="img_left" src="data/file/sub3/thumb-1982322429_jxtAvRky_daab03ed65b929a9441718c839e1574926e41986_228x228.jpg"></a></div></div>
                            <div class='text'>
                                <div class='title'><a href="http://danafood.com/bbs/board.php?bo_table=sub3&amp;wr_id=19">사우나오징어</a></div>
                                <div class='sub_title'><a href="http://danafood.com/bbs/board.php?bo_table=sub3&amp;wr_id=19">소포장/벌크</a></div>
                            </div>
                        </li>

                        <li>
                            <div class='photo'><div class="space"><a href="http://danafood.com/bbs/board.php?bo_table=sub3&amp;wr_id=18"><img class="img_left" src="data/file/sub3/thumb-1982322429_bamUVsWN_9c4a5642fe142962c8c74facc65f7b780a2b91d6_228x228.jpg"></a></div></div>
                            <div class='text'>
                                <div class='title'><a href="http://danafood.com/bbs/board.php?bo_table=sub3&amp;wr_id=18">통통포,통통포 스틱</a></div>
                                <div class='sub_title'><a href="http://danafood.com/bbs/board.php?bo_table=sub3&amp;wr_id=18">소포장/벌크</a></div>
                            </div>
                        </li>

                        <li>
                            <div class='photo'><div class="space"><a href="http://danafood.com/bbs/board.php?bo_table=sub3&amp;wr_id=17"><img class="img_left" src="data/file/sub3/thumb-1982322429_owXmELNP_ab7949a2584c1c71860811910c1f7e13d84f09cf_228x228.jpg"></a></div></div>
                            <div class='text'>
                                <div class='title'><a href="http://danafood.com/bbs/board.php?bo_table=sub3&amp;wr_id=17">생생다리구이</a></div>
                                <div class='sub_title'><a href="http://danafood.com/bbs/board.php?bo_table=sub3&amp;wr_id=17">소포장/벌크</a></div>
                            </div>
                        </li>

                        <li>
                            <div class='photo'><div class="space"><a href="http://danafood.com/bbs/board.php?bo_table=sub3&amp;wr_id=16"><img class="img_left" src="data/file/sub3/thumb-1982322429_zVOYJjG8_29726540ecff227af267cbe6d04911bac5787ba9_228x228.jpg"></a></div></div>
                            <div class='text'>
                                <div class='title'><a href="http://danafood.com/bbs/board.php?bo_table=sub3&amp;wr_id=16">맛오징어,맛오징어 스틱</a></div>
                                <div class='sub_title'><a href="http://danafood.com/bbs/board.php?bo_table=sub3&amp;wr_id=16">소포장/벌크</a></div>
                            </div>
                        </li>
                    </ul>
                </div></div>
        </div>
        <div class="more">
            <a href="bbs/boardbec6.html?bo_table=sub3">제품소개 더보기<img src="image/plus.png" alt=""></a>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<div class="index_custom">
    <div class="custom_wrap clear">
        <div class="board">
            <div class="pc">
                <div class="lat">
                    <h2 class="lat_title"><a href="bbs/board091c.html?bo_table=sub6">공지사항</a></h2>
                    <ul>
                        <li class="basic_li clear">
                            <a href="bbs/board27c1.html?bo_table=sub6&amp;wr_id=5"> 사천시 수산물 브랜드 ㈜다나식품사천시 수산물 브랜드 ㈜다나식품사천시 수산물 브랜드…</a><span class="hot_icon"><i class="fa fa-heart" aria-hidden="true"></i><span class="sound_only">인기글</span></span>             <div class="lt_info">
                            <span class="lt_date">03-11</span>
                        </div>
                        </li>
                        <li class="basic_li clear">
                            <a href="bbs/boardc301.html?bo_table=sub6&amp;wr_id=4"> 경상남도 지정추천상품 &#034;QC&#034;마크 획득 경상남도 지정추천상품 &#034;QC&#034;마크 획득 경…</a><span class="hot_icon"><i class="fa fa-heart" aria-hidden="true"></i><span class="sound_only">인기글</span></span>             <div class="lt_info">
                            <span class="lt_date">03-11</span>
                        </div>
                        </li>
                        <li class="basic_li clear">
                            <a href="bbs/board76a3.html?bo_table=sub6&amp;wr_id=3"> 세계 식품박람회 SIAL Middle East -Abu Dhabi 2014 세계 …</a><span class="hot_icon"><i class="fa fa-heart" aria-hidden="true"></i><span class="sound_only">인기글</span></span>             <div class="lt_info">
                            <span class="lt_date">03-11</span>
                        </div>
                        </li>
                        <li class="basic_li clear">
                            <a href="bbs/board8368.html?bo_table=sub6&amp;wr_id=2"> (주) 다나식품 의 야심작! 통 통 포 출시(주) 다나식품 의 야심작! 통 통 포…</a><span class="hot_icon"><i class="fa fa-heart" aria-hidden="true"></i><span class="sound_only">인기글</span></span>             <div class="lt_info">
                            <span class="lt_date">03-11</span>
                        </div>
                        </li>
                        <li class="basic_li clear">
                            <a href="bbs/board8f7d.html?bo_table=sub6&amp;wr_id=1"> 2013 세계여성발명대회 및 여성발명품박람회 전시 2013 세계여성발명대회 및 여…</a><span class="hot_icon"><i class="fa fa-heart" aria-hidden="true"></i><span class="sound_only">인기글</span></span>             <div class="lt_info">
                            <span class="lt_date">03-11</span>
                        </div>
                        </li>
                    </ul>
                    <a href="bbs/board091c.html?bo_table=sub6" class="lt_more"><span class="sound_only">공지사항</span><img src="image/board_plus.jpg" alt="더보기"></a>

                </div>
            </div>
            <div class="mo">
                <div class="lat">
                    <h2 class="lat_title"><a href="bbs/board091c.html?bo_table=sub6">공지사항</a></h2>
                    <ul>
                        <li class="basic_li clear">
                            <a href="bbs/board27c1.html?bo_table=sub6&amp;wr_id=5"> 사천시 수산물 브랜드 ㈜다나식품사천시…</a><span class="hot_icon"><i class="fa fa-heart" aria-hidden="true"></i><span class="sound_only">인기글</span></span>             <div class="lt_info">
                            <span class="lt_date">03-11</span>
                        </div>
                        </li>
                        <li class="basic_li clear">
                            <a href="bbs/boardc301.html?bo_table=sub6&amp;wr_id=4"> 경상남도 지정추천상품 &#034;QC&#034;마크 획…</a><span class="hot_icon"><i class="fa fa-heart" aria-hidden="true"></i><span class="sound_only">인기글</span></span>             <div class="lt_info">
                            <span class="lt_date">03-11</span>
                        </div>
                        </li>
                        <li class="basic_li clear">
                            <a href="bbs/board76a3.html?bo_table=sub6&amp;wr_id=3"> 세계 식품박람회 SIAL Middle…</a><span class="hot_icon"><i class="fa fa-heart" aria-hidden="true"></i><span class="sound_only">인기글</span></span>             <div class="lt_info">
                            <span class="lt_date">03-11</span>
                        </div>
                        </li>
                        <li class="basic_li clear">
                            <a href="bbs/board8368.html?bo_table=sub6&amp;wr_id=2"> (주) 다나식품 의 야심작! 통 통 …</a><span class="hot_icon"><i class="fa fa-heart" aria-hidden="true"></i><span class="sound_only">인기글</span></span>             <div class="lt_info">
                            <span class="lt_date">03-11</span>
                        </div>
                        </li>
                        <li class="basic_li clear">
                            <a href="bbs/board8f7d.html?bo_table=sub6&amp;wr_id=1"> 2013 세계여성발명대회 및 여성발명…</a><span class="hot_icon"><i class="fa fa-heart" aria-hidden="true"></i><span class="sound_only">인기글</span></span>             <div class="lt_info">
                            <span class="lt_date">03-11</span>
                        </div>
                        </li>
                    </ul>
                    <a href="bbs/board091c.html?bo_table=sub6" class="lt_more"><span class="sound_only">공지사항</span><img src="image/board_plus.jpg" alt="더보기"></a>

                </div>
            </div>
        </div>
        <div class="custom">
            <div class="custom_box">
                <div class="txt_box">
                    <p class="head_txt">고객센터</p>
                    <p class="body_txt">(주)다나식품은 소비자의 행복과 건강을 먼저 생각합니다.</p>
                </div>
                <div class="tel clear">
                    <div class="img_box"><img src="image/tel.png" alt=""></div>
                    <div class="num_box">
                        <span><a href="tel:055-835-1990">055-835-1988</a></span>
                        <span><a href="tel:055-835-1988">055-835-1990</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="index_link">
    <div class="index_link_box clear">
        <div><a href="/intoroCompany.do"><img src="image/index_link1.jpg" alt=""></a></div>
        <div><a href="/intoroCompany.do"><img src="image/index_link2.jpg" alt=""></a></div>
        <div><a href="/iceDiv.do"><img src="image/index_link3.jpg" alt=""></a></div>
        <div><a href="/dryDiv.do"><img src="image/index_link4.jpg" alt=""></a></div>
    </div>
</div>

<!-- } 콘텐츠 끝 -->
<hr>
<!-- 하단 시작 { -->
{{>layout/footer}}
<!-- 하단 끝 -->
</body>


