{{>layout/header1}}
<hr>

<div class="col-md-12">
    <div class="col_md-4">
        <form>
            <div class="form-group">
                <label for="title">상품명</label>
                <input type="text" class="form-control" id="title" placeholder="상품명을 입력하세요.">
            </div>
            <div class="form-group">
                <label for="content">포장단위</label>
                <input type="text" class="form-control" id="content" placeholder="상품단위를 입력하세요.">
            </div>
            <div class="form-group">
                <label for="author">이미지</label>
                <input type="text" class="form-control" id="author" placeholder="이미지를 입력하세요.">
            </div>
        </form>
        <a href="/" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-save">등록</button>
    </div>
</div>

<hr>
{{>layout/footer1}}


